# Ignore Virtual Environments

*.venv


# Ignore Environment Secrets
*.env

# ==========================================
# Python Caches and Bytecode
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyc